'.source.js':
    '$self = $this':
      'prefix': '$s=t'
      'body': 'var $self = $(this);'
    'self = this':
      'prefix': 's=t',
      'body': 'var self = this;'
    'Ember':
      'prefix': 'em'
      'body': 'Ember'
    'Ember Object Extend':
      'prefix': 'eoe'
      'body':'Ember.Object.extend({\n});'
    'this controller':
      'prefix': 'tc'
      'body': 'this.controller'
    'this create Record':
      'prefix': 'tcr',
      'body': 'this.store.createRecord(\'${1:name}\'{${2:}});'
    'DS Attr':
      'prefix': 'dsa'
      'body': 'DS.attr(\'${1:type}\')${2:}'
    'this store get':
      'prefix': 'tsg'
      'body': 'this.store.findAll(\'${1:model}\', ${2:property})${3:}'
    'Computed Property':
      'prefix': 'cmp',
      'body': 'Ember.computed(\'${1:prop1}\', \'${2:prop2}\', function() {\nreturn \'${3:stuff}\' \n})'
